---
# Only the main Sass file needs front matter (the dashes are enough)
---



@import "minima";


#ozoneMap { 
position: relative;
left: -350px;
margin-right: 0px; }

#Citation { 
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    font-style: italic;
}
#Advice { 
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-weight: bold;
}